.advertisement-container {
  padding: 2rem;
}

.ad-item {
  margin-bottom: 30px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

.ad-item button {
  margin-right: 10px;
  margin-top: 10px;
}

.ad-logo {
  max-width: 150px;
  margin-top: 10px;
}

.ad-date {
  font-style: italic;
  font-size: 0.9em;
}

.pagination-container {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.pagination-info {
  font-weight: bold;
}

.top-badge {
  color: white;
  background: crimson;
  padding: 2px 6px;
  margin-left: 8px;
  border-radius: 4px;
  font-size: 0.75rem;
}
